@{
    ViewData["Title"] = "PDF to Image";
}
<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ConvertToJPG">
    <div class="form-group">
        <div class="col-md-10">
            <p><h4>Enter the name of your Image:</h4></p>
            <!--The name attribute is the parameter we are passing into our function.-->
            <input type="text" name="fileName" multiple accept="image/*">
            <p><h4>Select one or more images PDFs:</h4></p>
            <!--The name attribute is the parameter we are passing into our function.-->
            <input type="file" name="pdfs" multiple accept="image/*">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <br />
            <input type="submit" value="Convert to Image">
        </div>
    </div>
</form>
